<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CPD Yr Wyddgrug</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="{% if request.path == '/' %}homepage{% endif %}">
    <nav class="standard-nav">
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'fixtures' %}">Fixtures</a></li>
            <li><a href="{% url 'results' %}">Results</a></li>
            <li><a href="{% url 'league_table' %}">League Table</a></li>
    
            {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'player_dashboard' %}">
                        Player Dashboard 
                        {% if notifications.count > 0 %}
                            <span class="notification-badge">{{ notifications.count }}</span>
                        {% endif %}
                    </a>
                </li>
                <li>
                    <form action="{% url 'logout' %}" method="post" class="logout-form">
                        {% csrf_token %}
                        <button type="submit">Logout</button>
                    </form>
                </li>
                <li class="username-display">(<span>{{ user.username }}</span>)</li>
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
        </ul>
    </nav>
    
    <!-- White line separator -->
    <hr class="banner-separator">
    
    <script>
        function toggleAvailability(id) {
            let element = document.getElementById(id);
            if (element.style.display === "none" || element.style.display === "") {
                element.style.display = "block";
            } else {
                element.style.display = "none";
            }
        }
        </script>

    {% block content %}
    <!-- Page-specific content will be inserted here -->
    {% endblock %}

</body>
</html>
