{% load custom_filters %}

<h2>Upcoming Fixtures</h2>
{% if upcoming_fixtures %}
    {% for fixture in upcoming_fixtures %}
        <h3>{{ fixture }}</h3>
        <p><strong>Available Players:</strong></p>
        <ul>
            {% for player in fixture_availability|get_item:fixture %}
                <li>{{ player.player.username }}</li>
            {% empty %}
                <li>No players have confirmed availability yet.</li>
            {% endfor %}
        </ul>

        <p><strong>Unavailable Players:</strong></p>
        <ul>
            {% for player in fixture_availability[fixture].not_available %}
                <li>{{ player.player.username }}</li>
            {% empty %}
                <li>No players have set availability yet.</li>
            {% endfor %}
        </ul>
    {% endfor %}
{% else %}
    <p>No upcoming fixtures.</p>
{% endif %}
