<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CPD Yr Wyddgrug</title>
</head>
<body>
    <nav>
        <a href="{% url 'home' %}">Home</a> 
        <a href="{% url 'fixtures' %}">Fixtures</a>
        <a href="{% url 'results' %}">Results</a>
        <a href="{% url 'league_table' %}">League Table</a>

        {% if user.is_authenticated %}
            {% if user.profile.role == "manager" %}
                <a href="{% url 'manager_dashboard' %}">Manager Dashboard</a>
            {% elif user.profile.role == "player" %}
                <a href="{% url 'player_dashboard' %}">Player Dashboard</a>
            {% endif %}

            
            <form action="{% url 'logout' %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit" style="background:none; border:none; color:blue; cursor:pointer;">Logout</button>
            </form>

        {% else %}
            <a href="{% url 'login' %}">Login</a>
        {% endif %}
    </nav>

    {% block content %}
    <!-- Content will be inserted here -->
    {% endblock %}

</body>
</html>
